<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href='styles/main.css' rel='stylesheet' type="text/css">
</head>

<!--  Use ng-app directive to assign app to the body tag -->
<body ng-app="todoListApp">
  <!-- Add controller to the scope of this div using ng-controller directive -->
  <div ng-controller="mainCtrl" class="list">
    <h1>My TODOs</h1>
    <div ng-repeat="todo in todos" class="item" ng-class="{'editing-item': editing, 'edited': todo.edited}">
      <!-- Here we can use the model 'todo' and give it attributes which can
      store state, such as todo.name (name of the task) and todo.completed to
      store the state of the checkbox -->
      <input ng-model="todo.completed" type="checkbox"/>
      <label ng-hide="editing" class="editing-table">{{todo.name}}</label>
      <input ng-change="todo.edited = true" ng-blur="editing=false" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>

      <div class="actions">
        <a href="" ng-click="editing = !editing">Edit</a>
        <!-- Upon clicking this anchor, fire the helloWorld function within this scope -->
        <a href="" ng-click="saveTodo(todo)">Save</a>
        <a href="" ng-click="deleteTodo(todo, $index)" class="delete">Delete</a>
      </div>
    </div>
    {{todos}}
  </div>

  <script src="vendor/angular.js" type="text/javascript"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
</body>
</html>
