doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 "The future home of something awesome!"
    p IPhone YOLO pok pok viral actually, kombucha locavore keffiyeh cray freegan. PBR&B single-origin coffee tote bag bushwick flannel. Chambray lomo raclette direct trade hexagon polaroid. Succulents blog vegan swag, pinterest meh seitan pickled trust fund cliche enamel pin four dollar toast asymmetrical health goth. Austin kickstarter lyft chambray, bitters coloring book post-ironic blue bottle offal scenester selfies tattooed VHS. Freegan blue bottle street art pork belly, meggings cred forage before they sold out selfies biodiesel. Readymade venmo snackwave, franzen tote bag try-hard taxidermy everyday carry.
