doctype html
html(lang="en")
	include ./partials/_head.jade

	body#page-top
		include ./partials/_nav.jade
		block content

		script(src='s/static/js/jquery.js')
		// Bootstrap core
		script(src='s/static/js/bootstrap.min.js')
		// JS Plugins
		script(src='s/static/js/jquery.easing.min.js')
		script(src='s/static/js/jquery.fittext.js')
		script(src='s/static/js/wow.min.js')
		// Custom theme JS
		script(src='s/static/js/creative.js')
